Source: hlbackup
Section: admin
Priority: optional
Maintainer: Taku YASUI <tach@debian.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.1

Package: hlbackup
Architecture: all
Depends: rsync, ruby, ${misc:Depends}
Description: Backup script using hardlink and rsync
 hlbackup is backup tool using hardlink and rsync.
 .
  * backup once per day (backup to YYYY/MM/DD directory)
  * copy as hardlink from backup of yesterday
  * overwrite from original using rsync
 .
 hlbackup is rewrite of pdumpfs using bash script and rsync.
